/* ============================================================================================== 
Artist Jera_Code
By JUAN ESTEBAN RAMIREZ


================================================================================================= */

.services #planets-section{padding-top: 190px;}
/* SECTION SERVICES*/
.section-select-services.container-section{display: block; min-height: 50vh;}
.section-select-services .container-title{margin-bottom: 4rem;}
.section-select-services .main-title{font-weight: 100; font-size: 3rem;}
.section-select-services .main-title strong{font-weight: 600;}
.section-select-services .container-services{display: flex; flex-wrap: wrap; justify-content: center;}
.section-select-services .container-services .service{width: calc(20% - 30px); margin: 15px;}
.section-select-services .container-services .service a:hover img{ transform: scale(1.1) rotateY(5deg);}
.section-select-services .container-services .service img{width: 100%; transition: .4s all;}
.section-select-services.container-section{background: url('../image/services/malla_servicios.svg') no-repeat bottom center / 100%;}
.section-select-services .title-plan-accion h2{font-size: 3rem; font-weight: 300;}
.section-select-services .title-plan-accion h2 strong{font-weight: 700;}


/*WEB SERVICES*/
.section-select-services.container-section.web{margin-top: -250px; background: url('../image/services/web/malla_web.svg') no-repeat bottom center / 100%; flex-wrap:wrap; display: flex; justify-content: center; align-self: flex-end;}
.section-select-services.container-section.web .service{width: calc(33% - 30px); margin: 15px;}
.section-select-services.web .container-msg{width: calc(50% - 30px); margin: 15px; align-self: flex-end;}
.section-select-services.web .container-msg h3{font-size: 2.3rem;}
.section-select-services.web .container-services{width: 50%;}
.section-select-services.web .container-services.full {width: 100%; justify-content: flex-end;}
.section-select-services.web .container-services.full .service{width: calc(17% - 35px); margin: 15px;}

/*LEAD SERVICES*/

.section-select-services.container-section.leads{background: url('../image/services/leads/malla_leads.svg') no-repeat bottom center / 100%;}
.section-select-services.leads .container-services .service{width: calc(16% - 30px); min-height: 0;}


.leads #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#BEB420);border: 1px solid #BEB420;}
.leads #whatsAppFloatingButton::hover{    background-color: #BEB420;}
.leads #contact-section{ background-image: linear-gradient( to top, #bcb2218c,transparent);}
.leads #contact-section .container-form{border: 1px solid #BCB221;}
.leads .container-form form{border: 1px solid #BCB221;     background-image: linear-gradient( 90deg, #BCB221,transparent);}
.leads .container-form form .form-control{border-bottom-color: #BCB221;}
.leads .container-form form textarea.form-control{border-color: #BCB221;}
.leads .container-form .btn{background-color: #BCB221;}
.leads #contact-section .container-form textarea{border:1px solid #BCB221 !important;}
.leads .container-form form .form-control .wpforms-field-medium,
.leads #contact-section .container-form input{border-bottom: 1px solid #BCB221 !important;}

.web #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#BEB420);border: 1px solid #BEB420;}
.web #whatsAppFloatingButton::hover{    background-color: #BEB420;}
.web #contact-section{ background-image: linear-gradient( to top, #8725858c,transparent);}
.web #contact-section .container-form{border: 1px solid #872585;}
.web .container-form form{border: 1px solid #872585;     background-image: linear-gradient( 90deg, #872585,transparent);}
.web .container-form form .form-control{border-bottom-color: #872585;}
.web .container-form form textarea.form-control{border-color: #872585;}
.web .container-form .btn{background-color: #872585;}
.web #contact-section .container-form textarea{border:1px solid #872585 !important;}
.web .container-form form .form-control .wpforms-field-medium,
.web #contact-section .container-form input{border-bottom: 1px solid #872585 !important;}

.comunidad #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#23A069);border: 1px solid #23A069;}
.comunidad #whatsAppFloatingButton::hover{    background-color: #23A069;}
.comunidad #contact-section{ background-image: linear-gradient( to top, #23A0698c,transparent);}
.comunidad #contact-section .container-form{border: 1px solid #23A069;}
.comunidad .container-form form{border: 1px solid #23A069;     background-image: linear-gradient( 90deg, #23A069,transparent);}
.comunidad .container-form form .form-control{border-bottom-color: #23A069;}
.comunidad .container-form form textarea.form-control{border-color: #23A069;}
.comunidad .container-form .btn{background-color: #23A069;}
.comunidad #contact-section .container-form textarea{border:1px solid #23A069 !important;}
.comunidad .container-form form .form-control .wpforms-field-medium,
.comunidad #contact-section .container-form input{border-bottom: 1px solid #23A069 !important;}

.vender #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#FCB9D2);border: 1px solid #FCB9D2;}
.vender #whatsAppFloatingButton::hover{    background-color: #FCB9D2;}
.vender #contact-section{ background-image: linear-gradient( to top, #FCB9D28c,transparent);}
.vender #contact-section .container-form{border: 1px solid #FCB9D2;}
.vender .container-form form{border: 1px solid #FCB9D2;     background-image: linear-gradient( 90deg, #FCB9D2,transparent);}
.vender .container-form form .form-control{border-bottom-color: #FCB9D2;}
.vender .container-form form textarea.form-control{border-color: #FCB9D2;}
.vender .container-form .btn{background-color: #FCB9D2;}
.vender #contact-section .container-form textarea{border:1px solid #FCB9D2 !important;}
.vender .container-form form .form-control .wpforms-field-medium,
.vender #contact-section .container-form input{border-bottom: 1px solid #FCB9D2 !important;}

.presencia #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#B3BB33);border: 1px solid #B3BB33;}
.presencia #whatsAppFloatingButton::hover{    background-color: #B3BB33;}
.presencia #contact-section{ background-image: linear-gradient( to top, #B3BB338c,transparent);}
.presencia #contact-section .container-form{border: 1px solid #B3BB33;}
.presencia .container-form form{border: 1px solid #B3BB33;     background-image: linear-gradient( 90deg, #B3BB33,transparent);}
.presencia .container-form form .form-control{border-bottom-color: #B3BB33;}
.presencia .container-form form textarea.form-control{border-color: #B3BB33;}
.presencia .container-form .btn{background-color: #B3BB33;}
.presencia #contact-section .container-form textarea{border:1px solid #B3BB33 !important;}
.presencia .container-form form .form-control .wpforms-field-medium,
.presencia #contact-section .container-form input{border-bottom: 1px solid #B3BB33 !important;}


.comercial #whatsAppFloatingButton{background: linear-gradient(to right, transparent ,#E55723);border: 1px solid #E55723;}
.comercial #whatsAppFloatingButton::hover{    background-color: #E55723;}
.comercial #contact-section{ background-image: linear-gradient( to top, #E557238c,transparent);}
.comercial #contact-section .container-form{border: 1px solid #E55723;}
.comercial .container-form form{border: 1px solid #E55723;     background-image: linear-gradient( 90deg, #E55723,transparent);}
.comercial .container-form form .form-control{border-bottom-color: #E55723;}
.comercial .container-form form textarea.form-control{border-color: #E55723;}
.comercial .container-form .btn{background-color: #E55723;}
.comercial #contact-section .container-form textarea{border:1px solid #E55723 !important;}
.comercial .container-form form .form-control .wpforms-field-medium,
.comercial #contact-section .container-form input{border-bottom: 1px solid #E55723 !important;}



/* COMUNIDAD */
.section-select-services.container-section.comunidad{ background: url('../image/services/comunidad/malla_comunidad.svg') no-repeat bottom center / 100%; flex-wrap:wrap; display: flex; justify-content: center; align-self: flex-end;}
.comunidad .metodologia-section{margin-top: -175px;}

/* COMERCIAL */
.section-select-services.container-section.comercial{ background: url('../image/services/comercial/malla_comercial.svg') no-repeat bottom center / 100%; flex-wrap:wrap; display: flex; justify-content: center; align-self: flex-end;}
.comercial .metodologia-section{margin-top: -175px;}

/* PRESENCIA */
.section-select-services.container-section.presencia{ background: url('../image/services/presencia_digital/malla_presencia_digital.svg') no-repeat bottom center / 100%; flex-wrap:wrap; display: flex; justify-content: center; align-self: flex-end;}
.presencia .metodologia-section{margin-top: -175px;}

#page.services p{font-size: 2rem;}
#section-introduction-planet{display: flex; align-items: center; text-align: left; flex-wrap: wrap; position: relative; z-index: -1;}
#section-introduction-planet .main-title{padding: 10px 20px; padding-left: 100px; margin-left: -110px; margin-bottom: 35px; background-color: var(--secondary-belka); color: white; transform: translateX(-20px) skewX(-10deg); border-radius: 10px; display: inline-flex;}
#section-introduction-planet .main-title h1{margin: 0;}
#section-introduction-planet .content{width: 60%;}
#section-introduction-planet .planet{width: 40%;position: relative;height: 100%;}
#section-introduction-planet .planet figure{display: flex;justify-content: flex-start;align-items: center;}
#section-introduction-planet .planet figure img{position: fixed; left: 60%; z-index: -1;} 
#section-introduction-planet .title-lead{display: flex; align-items: center;}
#section-introduction-planet .title-lead h2{font-size: 2rem; font-weight: 600;}
#section-introduction-planet .goals{display: flex; flex-wrap: wrap; justify-content: center;}
#section-introduction-planet .goals .item{width: 250px;text-align: center; }
#section-introduction-planet .goals .item p{font-size: 1.5rem;}

.right #section-introduction-planet .content{order: 2; text-align: right;}
.right #section-introduction-planet .planet{order: 1;}
.right #section-introduction-planet .planet figure img{right: 60%; left: unset;} 
.right #section-introduction-planet .main-title{padding-left: 20px;margin-left: 0;padding-right: 100px;margin-right: -110px;}
.right #section-introduction-planet .description{text-align: right;}

.right #section-informative{text-align: right;}
.right #section-informative .title-icon{justify-content: flex-end;}
.right #section-informative p.lead{    margin-left: auto; text-align: right;}

.metodologia-section{min-height: 0; display: block; padding-top: 0;}
.metodologia-section .items-metodologia .item{display: flex; flex-wrap: wrap; margin: 30px 15px;}
.metodologia-section .items-metodologia .item h3{ width: 20%;}
.metodologia-section .items-metodologia .item .description{ width: 50%; text-align: left; padding: 10px 25px; border-radius: 25px; position: relative;} 
.metodologia-section .items-metodologia .item .description p{font-size: 1.1rem !important;} 
.metodologia-section .items-metodologia .item .description::before{content: ''; display: flex; width: 35px; height: 35px; position: absolute; top: 0; left: -25px; background: url('../image/spaceship_decoration.png') no-repeat center / 100% ;} 
.leads .metodologia-section .items-metodologia .item .description{ background: linear-gradient(to right,transparent, #BFB520); border: 1px solid #BFB520;} 
.comunidad .metodologia-section .items-metodologia .item .description{ background: linear-gradient(to right,transparent, #1A7D57); border: 1px solid #1A7D57;} 
.comercial .metodologia-section .items-metodologia .item .description{ background: linear-gradient(to right,transparent, #D95223); border: 1px solid #D95223;} 
.presencia .metodologia-section .items-metodologia .item .description{ background: linear-gradient(to right,transparent, #B3BB33); border: 1px solid #B3BB33;} 
.right .metodologia-section .items-metodologia .item{justify-content: flex-end;}


.how-title{display: flex; align-items: center; width: 100%;}
.how-title h2{font-size: 2.3rem; font-weight: 900; font-style: italic;}
.how-title h2.light{font-weight: 300;}
.how-title h2.light strong{font-weight: 900;}
.how-title img{ margin: 10px;}

.right .how-title{text-align: right; justify-content: flex-end;}

/* INFORMACION VENDER */
#section-informative{min-height: 0; margin-top: -150px; display: block;} 
#section-informative p{text-align: left;} 
#section-informative p.lead{max-width: 65%;} 
#section-informative .title-icon {display: flex; justify-content: flex-start; flex-wrap: wrap;} 
#section-informative .title-icon h2{font-size: 2rem;} 
#section-informative .title-icon figure{margin: 0 15px;align-items: center;display: flex;} 
#section-informative .container-list{display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: center;} 
#section-informative .container-list .item{width: 50%; padding: 20px; display: flex; align-items: flex-start; text-align: left;} 
#section-informative .container-list .item.w-100{width: 100%;} 
#section-informative .container-list .item.w-75{width: 75%; flex-wrap: wrap; justify-content: center;} 
#section-informative .container-list .item.w-75 .content{width: 100%; text-align: center; width: 80%;}
#section-informative .container-list .item.w-75 .content p{text-align: center;}
#section-informative .container-list .item h3{font-weight: 600; font-size: 1.5rem} 
#section-informative .container-list .item p{font-size: 1rem; line-height: 1.5rem;} 


@media (max-width: 1200px) {

    
    .comunidad .metodologia-section{margin-top:-50px;}
    .comercial .metodologia-section{margin-top:-50px;}
    .presencia .metodologia-section{margin-top:-50px;}
    .section-select-services.container-section.web{margin-top: -50px;}
}

@media (max-width: 900px) {
    .services #planets-section{padding-top: 100px;}
    .section-select-services.container-section.web .service{width: calc(50% - 30px);}

    #section-informative .title-icon h2{order: 2;}
    #section-informative .title-icon figure{order: 1;}
    #section-introduction-planet{overflow: hidden; max-width: 100%; opacity: 1; min-height: 100vh;} 
    #section-introduction-planet .main-title{margin-left: 20px;}
    #section-introduction-planet .main-title h1{font-size: 1.5rem; text-align: center;}

    #section-introduction-planet .planet figure img{top: 50px; filter: brightness(0.3); opacity: .8; transition: .4s all ease-in; left: 0 !important; right: unset !important;}
    #section-introduction-planet.is-inview .planet figure img{filter: brightness(1); top: 0;}
    .right #section-introduction-planet .description,
    #section-introduction-planet .description{text-align: center;}

    #section-informative{margin-top: 20px;}
    #section-informative .container-list .item{width: 100%;}
    #section-informative .container-list .item.w-75 .content{width: 100%;}    
    #section-informative .container-list .item.w-75{width: 100%;}

    .section-select-services.container-section{padding: 30px 0px;}
    .section-select-services .container-services{width: 100%;}
    .section-select-services.container-section{overflow: hidden;}

    .section-select-services .main-title{font-size: 2rem;}

    .how-title{flex-direction: column; align-items: center;}
    .how-title img{order: 1;}
    .how-title h2{font-size: 1.6rem; order: 2; margin: 10px 0;}
    .container-title{text-align: center;}

    .metodologia-section .items-metodologia .item h3{width: 50%;}
    #page.services p{font-size: 1.5rem;max-width: 100%;}


}  
  
@media (max-width: 725px) {


    #section-introduction-planet .planet figure img{max-width: 700px;}

    .how-title h2{width: auto;}
    .how-title h2{text-align: center;}

    .section-select-services .title-plan-accion h2{font-size: 2rem;}
    .section-select-services .container-services .service{width: calc(100% - 20px); margin: 10px;}

    .section-select-services .main-title{font-size: 2rem;}
    .right #section-introduction-planet .content,
    #section-introduction-planet .content{width: 100%; text-align: center;}
    .right #section-introduction-planet .main-title{padding: 10px !important; margin-right: 0; }
    #section-introduction-planet .main-title{padding: 10px;}

    #section-informative .title-icon h2{font-size: 1.5rem;}
    #section-informative .title-icon{justify-content: center !important;}

    #section-informative .container-list .item{flex-wrap: wrap; justify-content: center;}
    #section-informative p{text-align: center;}
    #section-informative .container-list .item h3{text-align: center;}

    .section-select-services.web .container-services.full{justify-content: center;}
    .section-select-services.web .container-msg{width: 100%;}
    .section-select-services.web .container-services{order: 2; width: 100%;}
    .section-select-services .container-services.full{order: 4;}
    .section-select-services.web .container-services.full .service{width: calc(33.33% - 20px); margin: 10px;}
    .section-select-services.container-section.web .service{width: calc(33% - 20px); margin: 10px;}

    .section-select-services.leads .container-services .service{width: 50%;}
    .presencia .metodologia-section{margin: 0;}

    #section-introduction-planet .planet{left: 0;position: absolute; z-index: -1}
    .right #section-introduction-planet .planet{left: unset;right: 0;}
    .metodologia-section .items-metodologia .item h3{width: 100%;}
    .metodologia-section .items-metodologia .item .description{width: 100%;}
}
